@model Nomina2018.Models.Empleado

@{
    ViewBag.Title = "Delete";
}

<hr />
<h2>Eliminar empleado</h2>

<h3>¿Esta seguro de que decea eliminar a este empleado?</h3>
<div>
    <hr />
    <h4>Empleado numero @Model.NumeroEmpleado</h4>
    <hr />

    <table class="table table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departamento.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Departamento.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => model.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(model => model.ApellidoMaterno)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(model => model.Direccion)
            </td>
            <td>
                @Html.DisplayFor(model => model.Telefono)
            </td>
            <td>
                @Html.DisplayFor(model => model.Correo)
            </td>
        </tr>
    </table>
  

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">

    @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-info" })
    <input type="submit" value="Eliminar empleado" class="btn btn-danger" />

</div>
    }
</div>
