@model Nomina2018.Models.Empleado

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Detalles del Empleado</h2>
<br />
<div>

    <div class="align-content-end">
        @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-info" })
        @Html.ActionLink("Editar datos del Empleado", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    </div>
    <hr />
    <h4>Informacion del Empleado</h4>


    <table class="table table-dark">
        <tr class="table-bordered">
            <th>@Html.DisplayNameFor(model => model.NumeroEmpleado)</th>
            <th>@Html.DisplayNameFor(model => model.FechaIngreso) </th>
            <th>@Html.DisplayNameFor(model => model.Departamento.Nombre)</th>
        </tr>
        <tr class="table-bordered">
            <td>@Html.DisplayFor(model => model.NumeroEmpleado)</td>
            <td>@Html.DisplayFor(model => model.FechaIngreso)</td>
            <td>@Html.DisplayFor(model => model.Departamento.Nombre)</td>
        </tr>
    </table>
    <h4>Informacion del Personal</h4>
    <table class="table table-dark">
        <tr class="table-bordered">
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.ApellidoPaterno)</th>
            <th>@Html.DisplayNameFor(model => model.ApellidoMaterno)</th>
            <th>@Html.DisplayNameFor(model => model.FechaNacimiento)</th>
        </tr>
        <tr class="table-bordered">
            <td>@Html.DisplayFor(model => model.Nombre)</td>
            <td>@Html.DisplayFor(model => model.ApellidoPaterno)</td>
            <td>@Html.DisplayFor(model => model.ApellidoMaterno)</td>
            <td>@Html.DisplayFor(model => model.FechaNacimiento)</td>
        </tr>
    </table>
    <h4>Datos de contacto</h4>
    <table class="table table-dark">
        <tr class="table-bordered">
            <th>@Html.DisplayNameFor(model => model.Direccion)</th>
            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.Correo)</th>
        </tr>
        <tr class="table-bordered">
            <td>@Html.DisplayFor(model => model.Direccion)</td>
            <td>@Html.DisplayFor(model => model.Telefono)</td>
            <td>@Html.DisplayFor(model => model.Correo)</td>
        </tr>
    </table>

</div>
<hr />
<br />

<p class="">
   
    @Html.ActionLink("Realizar pago", "Create", "RegistroPago", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Tabulador de sueldo", "Details", "TabuladorSueldo", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>

@if (Model.PagoSueldos != null)
{
    <h3>Registro de pagos echos</h3>
    <table class="table table-dark">
        <tr style="text-align:center">
            <th colspan="2">

            </th>
            <th class="bg-success" colspan="3">
                INGRESO
            </th>
            <th class="bg-danger" colspan="3">
                DESCUENTO
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <th>
                Fecha inicio
            </th>
            <th>
                Fecha Final
            </th>
            <th>
                Sueldo Neto
            </th>
            <th>
                Apoyo
            </th>
            <th class="bg-success">
                Total ingreso
            </th>
            <th>
                ISR
            </th>
            <th>
                Seguro
            </th>

            <th class="bg-danger">
                Total descunto
            </th>
            <th class="bg-primary">
                Total pagado
            </th>
        </tr>
        @foreach (var item in Model.PagoSueldos)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicioRango)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinalRango)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SueldoNeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apoyo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngresoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seguro)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.DescuentoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPago)
        </td>
    </tr>
        }
    </table>
}


