@model IEnumerable<Nomina2018.Models.Empleado>

@{
    ViewBag.Title = "Empleados";
}

<h2>Lista empleados</h2>


<div class="col" style="text-align:right">
    <a href="~/Empleado/Create" class="btn btn-outline-success"> Nuevo</a>

</div>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table ">
    <tr class="thead-dark">

        <th>
            @Html.DisplayNameFor(model => model.NumeroEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.Nombre)
        </th>

        <th></th>
    </tr>
     
@foreach (var item in Model) {
<tr class="thead-light">

    <td>
        @Html.DisplayFor(modelItem => item.NumeroEmpleado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApellidoPaterno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ApellidoMaterno)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Departamento.Nombre)
    </td>

    <td>
        <a class="btn btn-outline-primary" href="~/Empleado/Details/@item.Id">Detalles</a>
        <a class="btn btn-outline-warning" href="~/Empleado/Edit/@item.Id">Editar</a>
        <a class="btn btn-outline-danger" href="~/Empleado/Delete/@item.Id">Eliminar</a>
        @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
    </td>
</tr>
}

</table>
