@model IEnumerable<Nomina2018.Models.TabuladorSueldo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.NumeroEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SueldoNeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apoyo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seguro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.NumeroEmpleado)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Empleado.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SueldoNeto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apoyo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ISR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Seguro)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
